body {
    padding-top: 5rem;
}

.HomeBody{
    text-align: center;
    padding: 30px;
    border: 2px solid rgb(104, 102, 102);
    box-shadow: 2px 2px rgb(95, 95, 95);
    border-radius: 20px;
    width: 500px;
    height: 500px;
    margin: auto;
}

.HomeButtons{
    display: flex;
    width: 50px;
    height: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin: auto;
}

.BotImage{
    height: 250px;
    width: 350px;
    border-radius: 100%;
}

.para{
    margin-bottom: 30px;
    margin-top: -10px;
}

#Chat{
    background-color: rgb(180, 180, 0);
    color: white;
    font-weight: bold;
}

#Settings{
    background-color: rgb(0, 151, 0);
    color: white;
    font-weight: bold;
}

#About{
    background-color: rgb(0, 144, 180);
    color: white;
    font-weight: bold;
}








.flashes{
    padding: 0;
}
.flashes li{
    list-style-type: none;
    border-radius: 5px;
    padding: 1rem;

}

.flashes .success{
    background-color: #B1EA7F;
    border: 1px solid #43A120;
}

.flashes .danger{
    background-color: #DB2C3B;
    color: white;
    font-weight: bold;
    border: 1px solid #B71E39;
}
.required{
    color: red;
    font-weight: bold;
}


