body {
    /* padding-top: 5rem; */
    font-family: 'Poppins', sans-serif;
    background-color:#DCDCDC;
    height: 90vh;
}
.flashes{
    padding: 0;
}
.flashes li{
    list-style-type: none;
    border-radius: 5px;
    padding: 1rem;

}

.flashes .success{
    background-color: #B1EA7F;
    border: 1px solid #43A120;
}

.flashes .danger{
    background-color: #DB2C3B;
    color: white;
    font-weight: bold;
    border: 1px solid #B71E39;
}
.required{
    color: red;
    font-weight: bold;
}

#Chatbody{
    background-color:#F3F3F3;
    height:60vh;
    width:58vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.chatbubble{
    width:35px;
    height:35px;
}
#bot-image{
    width:250px;
    height:250px;
}
#chatspace{
    height:52vh;
    width:44vw;
    margin-top:7px;
    margin-right:21px;
    border-radius:10px;
}
#icon-area p{
    font-weight: 800;
    font-size:18px;

}
#icon-area{
    margin:auto;
    text-align: center;
}
#chatarea{
    width:820px;
    height:465px;
    overflow-y: auto;
    background-color:red;
}
input{
    height:46px;
    border-radius: 46px !important;
    -webkit-border-radius: 46px !important;
    -moz-border-radius: 46px !important;
    -ms-border-radius: 46px !important;
    -o-border-radius: 46px !important;
}
button{
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit !important;
}
#buttoni{
    width: 50px;
    height: 48px;
}
