body {
    padding-top: 5rem;
}
.flashes{
    padding: 0;
}
.flashes li{
    list-style-type: none;
    border-radius: 5px;
    padding: 1rem;

}

.flashes .success{
    background-color: #B1EA7F;
    border: 1px solid #43A120;
}

.flashes .danger{
    background-color: #DB2C3B;
    color: white;
    font-weight: bold;
    border: 1px solid #B71E39;
}
.required{
    color: red;
    font-weight: bold;
}


